<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="/favicon.png">
    <title>Your Site | About</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="#" class="active">ABOUT</a></li>
      </ul>
    </nav>
<h2>About</h2>
<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
R
<pre class="prettyprint">
print("You can put python code here")
</pre>

    <script src="prism.js"></script>
    <button class="dark-button" onclick="DarkMode()"><img class="dark-image" src="imgs/Dark_Mode.svg"></button>
  </body>
  <link href="./style.css" rel="stylesheet">
  <script src="./script.js"></script>
</html>