<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="/favicon.png">
    <title>ReplAPI</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="#" class="active">HOME</a></li>
        <li><a href="./about">ABOUT</a></li>
      </ul>
    </nav>
    <h1>ReplAPI</h1>
    <h3>ReplAPI is a python framework that grabs your(and anyone elses) replit data.</h3>
    <button class="dark-button" onclick="DarkMode()"><img class="dark-image" src="imgs/Dark_Mode.svg"></button>
  </body>
  <link href="./style.css" rel="stylesheet">
  <script src="./script.js"></script>
</html>